/**
* Base style
*/
body {
    background: rgb(136, 203, 171);
    background: linear-gradient(0deg, rgba(136, 203, 171, 1) 0%, rgba(0, 13, 60, 1) 100%);
    font-family: 'Merriweather', serif;
    color: #fff;
    margin: 0;

}

/**
*  hero header style
*/
h1 {
    font-family: 'Fira Sans', sans-serif;
    font-size: 3em;
    margin: 2em 1rem;
}

/**
* responsive hero style x
 */
@media only screen and (min-width: 35em) {
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

main {
    margin: 10vh 1em 10vh;
}

.main__hero {
    min-height: 40vh;
    margin-top: 10em;
}

section {
    position: relative;
    min-height: 80vh;
}

blockquote {
    color: #d3dbe4;
}

.section__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em) {
    .section__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .section__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.hide_navbar__list {
    display: none;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

.show_navbar__list {
    display: block;
    opacity: 1;
}

/* Navigation Styles*/
.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: end;
}

.navbar__menu li {
    display: inline-block;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}


a.current-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.current-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}

section.current-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.current-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Footer Styles */
.page__footer {
    background: #000;
    padding: 3em;
    color: #fff;
}
